/.idea/.gitignore
/sapbydbridge-main/sapbydesign/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/sapbydbridge-main/sapbydesign/.gradle/buildOutputCleanup/cache.properties
/sapbydbridge-main/sapbydesign/.gradle/8.2/checksums/checksums.lock
/.idea/compiler.xml
/sapbydbridge-main/sapbydesign/.gradle/8.2/dependencies-accessors/dependencies-accessors.lock
/sapbydbridge-main/sapbydesign/.gradle/8.2/executionHistory/executionHistory.bin
/sapbydbridge-main/sapbydesign/.gradle/8.2/executionHistory/executionHistory.lock
/sapbydbridge-main/sapbydesign/.gradle/file-system.probe
/sapbydbridge-main/sapbydesign/.gradle/8.2/fileHashes/fileHashes.bin
/sapbydbridge-main/sapbydesign/.gradle/8.2/fileHashes/fileHashes.lock
/sapbydbridge-main/sapbydesign/.gradle/8.2/dependencies-accessors/gc.properties
/sapbydbridge-main/sapbydesign/.gradle/8.2/gc.properties
/sapbydbridge-main/sapbydesign/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/sapbydbridge-main/.idea/gradle.xml
/sapbydbridge-main/sapbydesign/.idea/gradle.xml
/.idea/jarRepositories.xml
/sapbydbridge-main/sapbydesign/.gradle/8.2/fileChanges/last-build.bin
/sapbydbridge-main/sapbydesign/.gradle/8.2/checksums/md5-checksums.bin
/.idea/misc.xml
/.idea/modules.xml
/sapbydbridge-main/sapbydesign/.gradle/buildOutputCleanup/outputFiles.bin
/.idea/sapbydbridge-main.iml
/sapbydbridge-main/sapbydesign/.gradle/8.2/checksums/sha1-checksums.bin
/.idea/vcs.xml
