/.idea/.gitignore
/sapbydesign/.gitignore
/.idea/compiler.xml
/sapbydesign/gradle/wrapper/gradle-wrapper.jar
/sapbydesign/gradle/wrapper/gradle-wrapper.properties
/sapbydesign/gradlew
/sapbydesign/gradlew.bat
/.idea/jarRepositories.xml
/.idea/misc.xml
/sapbydesign/.idea/misc.xml
/.idea/modules.xml
/.idea/modules/sapbydesign.main.iml
/.idea/modules/sapbydesign.test.iml
/.idea/sapbydesignbridge.iml
/.idea/uiDesigner.xml
/sapbydesign/.idea/uiDesigner.xml
/.idea/vcs.xml
/sapbydesign/.idea/workspace.xml
